body {
    background-color: #e7f7fa;
}

.navbar {
    background-color: #0b7285 !important;
}

.navbar .nav-link {
    color: white;
    font-size: 1.05rem;
    font-weight: 400;
}

.navbar .navbar-brand {
    font-size: 19px;
    font-weight: 600;
}

.navbar .search-form {
    margin-left: 15px;
}

.navbar .search-input {
    width: 170px;
    border-radius: 20px;
    border: none;
    padding: 6px 12px;
}

.navbar .search-button {
    border-radius: 20px;
    padding: 6px 14px;
    font-size: 0.9rem;
}

footer {
    background-color: #12343b !important;
}